<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
{{^user}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter your name"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
Hello, {{name}}!
<form action="/logout" method="post" style="display: inline-block">
    <button type="submit">Logout</button>
</form>
{{/user}}
<br>
<br>
{{#person}}
    {{name}} is from {{city}} and is {{age}} years old.
{{/person}}

<script src="jquery-3.0.0.js"></script>

<script>
    var person = {
        name: "Bob",
        city: "Pittsburgh",
        age: 30
    };

    $.post(
            {
                method: "POST",
                contentType: "application/json",
                url: "/person.json",
                data: JSON.stringify(person)
            }
    );
</script>
</body>
</html>